<div class="profile-image"></div>
<div class="profile-image-wrapper">
    <div class="profile-image-holder"></div>
    <a class="profile-open-tasks-box transition-right-to-left" mat-button>
        <p class="profile-open-tasks"><b>18</b> open tasks</p>
    </a>
</div>
<div class="profile-title-block">
    <button mat-icon-button class="profile-title-block-menu transition-left-to-right">
        <mat-icon color="primary">more_vert</mat-icon>
    </button>
    <div class="transition-right-to-left">
        <h2 class="profile-name">
            <span>GoodBoy Doggo</span>
            <mat-icon class="green-icon transition-scale-in">verified_user</mat-icon>
        </h2>
        <h3 class="profile-position">Sales Manager</h3>
    </div>
</div>

<div class="profile-info">
    <div class="profile-info-first-row fade-in">
        <div class="profile-info-block">
            <div class="digits">
                <div class="digit-wrapper">
                    <div class="digit-container transition-top-to-bot-abs">
                        <div>1</div>
                        <div>0</div>
                        <div>9</div>
                        <div>8</div>
                    </div>
                </div>
                <div class="digit-wrapper">
                    <div class="digit-container transition-top-to-bot-abs">
                        <div>6</div>
                        <div>5</div>
                        <div>4</div>
                        <div>3</div>
                        <div>2</div>
                    </div>
                </div>
                <div class="digit-wrapper">
                    <div class="digit-container transition-top-to-bot-abs">
                        <div>4</div>
                        <div>3</div>
                        <div>2</div>
                        <div>1</div>
                        <div>0</div>
                        <div>9</div>
                        <div>8</div>
                        <div>7</div>
                    </div>
                </div>
                <div class="digit-wrapper">
                    <div class="digit-container transition-top-to-bot-abs">
                        <div>2</div>
                        <div>1</div>
                        <div>0</div>
                        <div>9</div>
                        <div>8</div>
                        <div>7</div>
                        <div>6</div>
                        <div>5</div>
                        <div>4</div>
                        <div>3</div>
                    </div>
                </div>
                <span class="profile-info-text transition-right-to-left">hours</span>
            </div>
            <div class="profile-info__line-container">
                <svg class="profile-info__line transition-left-to-right-abs" viewBox="0 0 800 300"
                    xmlns="http://www.w3.org/2000/svg"> 
                    <path class="profile-info__line-path" d="M 0 150
                        Q 50  100 100 150
                        Q 150 200 200 150
                        Q 250 125 300 150
                        C 350 200 350 75 400 150
                        C 450 175 450 175 500 150
                        C 550 125 550 150 600 150
                        C 600 150 650 175 700 150
                        C 750 125 775 150 800 125" />
                </svg>
            </div>
        </div>
        <div class="profile-info-block">
            <div class="digits">
                <div class="digit-wrapper">
                    <div class="digit-container transition-top-to-bot-abs">
                        <div>2</div>
                        <div>1</div>
                        <div>0</div>
                        <div>9</div>
                    </div>
                </div>
                <span class="fade-in">.</span>
                <div class="digit-wrapper">
                    <div class="digit-container transition-top-to-bot-abs">
                        <div>4</div>
                        <div>3</div>
                        <div>2</div>
                        <div>1</div>
                        <div>0</div>
                        <div>9</div>
                    </div>
                </div>
                <span>m</span>
                <span class="profile-info-text transition-right-to-left">sales</span>
            </div>
            <div class="profile-info__line-container">
                <svg class="profile-info__line transition-left-to-right-abs" viewBox="0 0 800 300"
                    xmlns="http://www.w3.org/2000/svg"> 
                    <path class="profile-info__line-path" d="
                        M 0  150
                        Q 50 150 100 175
                        C 150 125 150 100 200 175
                        C 300 125 250 175 400 150
                        C 450 125 450 150 500 150
                        C 550 175 550 175 650 150
                        C 700 100 750 175 800 175" />
                </svg>
            </div>
        </div>
    </div>
    <div class="profile-info-statistics">
        <span class="profile-info-statistics-title transition-left-to-right-abs">
            Statistics
        </span>
        <div class="profile-info-statistics-content">
            <div class="profile-info-statistics-hours">
                <svg class="progress-ring" width="120" height="120">
                    <circle class="progress-ring__circle" stroke="#3f51b5" stroke-width="4" fill="transparent" r="52"
                        cx="60" cy="60" />
                </svg>
                <div class="profile-info-statistics-hours-item-container">
                    <div class="hours-container">
                        <div class="hours">
                            <div class="digit-wrapper digit-wrapper_wider">
                                <div class="digit-container transition-top-to-bot-abs">
                                    <div>2</div>
                                    <div>1</div>
                                    <div>0</div>
                                    <div>9</div>
                                </div>
                            </div>
                            <div class="digit-wrapper digit-wrapper_wider">
                                <div class="digit-container transition-top-to-bot-abs">
                                    <div>5</div>
                                    <div>4</div>
                                    <div>3</div>
                                    <div>2</div>
                                    <div>1</div>
                                    <div>0</div>
                                </div>
                            </div>
                        </div>
                        <span class="fade-in">/40</span>
                    </div>
                    <span class="hours-text fade-in">hours</span>
                </div>
            </div>
            <div class="profile-info-statistics-overall transition-bot-to-top-abs">
                <span class="profile-info-statistics-overall-period">
                    Current week
                    <mat-icon color="primary">keyboard_arrow_down</mat-icon>
                </span>
                <div class="table-container">
                    <div class="profile-info-statistics-overall-block">
                        <div>
                            <span class="profile-info-statistics-overall-number">5</span>
                        </div>
                        <div>
                            <span class="profile-info-statistics-overall-text">offers sent</span>
                        </div>
                    </div>
                    <div class="profile-info-statistics-overall-block">
                        <span class="profile-info-statistics-overall-number">25</span>
                        <span class="profile-info-statistics-overall-text">new clients</span>
                    </div>
                    <div class="profile-info-statistics-overall-block">
                        <span class="profile-info-statistics-overall-number">17</span>
                        <span class="profile-info-statistics-overall-text">new deals</span>
                    </div>
                    <div class="profile-info-statistics-overall-block">
                        <span class="profile-info-statistics-overall-number">7</span>
                        <span class="profile-info-statistics-overall-text">won deals</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>