<div class="profile-image"></div>
<div class="profile-image-wrapper">
  <div class="profile-image-holder"></div>
  <a class="profile-open-tasks-box transition-right-to-left" mat-button>
    <p class="profile-open-tasks"><b>18</b> open tasks</p>
  </a>
</div>
<div class="profile-title-block">
  <button mat-icon-button class="profile-title-block-menu transition-left-to-right">
    <mat-icon color="primary">more_vert</mat-icon>
  </button>
  <div class="transition-right-to-left">
    <h2 class="profile-name">
      <span>GoodBoy Doggo</span>
      <mat-icon class="green-icon transition-scale-in">verified_user</mat-icon>
    </h2>
    <h3 class="profile-position">Sales Manager</h3>
  </div>
</div>

<div class="profile-info">
  <div class="profile-info-first-row fade-in">
    <div class="profile-info-block">
      <span class="profile-info-number">1642</span>
      <span class="profile-info-text">hours</span>
      <div class="lines">line_here</div>
    </div>
    <div class="profile-info-block">
      <span class="profile-info-number">$2.4m</span>
      <span class="profile-info-text">sales</span>
      <div class="lines">line_here</div>
    </div>
  </div>
  <div class="profile-info-statistics">
    <span class="profile-info-statistics-title">
      Statistics
    </span>
    <div class="profile-info-statistics-content">
      <div class="profile-info-statistics-hours">
        rounded hours here
      </div>
      <div class="profile-info-statistics-overall">
        <span class="profile-info-statistics-overall-period">
          Current week
          <mat-icon color="primary">keyboard_arrow_down</mat-icon>
        </span>
        <div class="profile-info-statistics-overall-block">
          <div>
            <span class="profile-info-statistics-overall-number">5</span>
          </div>
          <div>
            <span class="profile-info-statistics-overall-text">offers sent</span>
          </div>
        </div>
        <div class="profile-info-statistics-overall-block">
          <span class="profile-info-statistics-overall-number">25</span>
          <span class="profile-info-statistics-overall-text">new clients</span>
        </div>
        <div class="profile-info-statistics-overall-block">
          <span class="profile-info-statistics-overall-number">17</span>
          <span class="profile-info-statistics-overall-text">new deals</span>
        </div>
        <div class="profile-info-statistics-overall-block">
          <span class="profile-info-statistics-overall-number">7</span>
          <span class="profile-info-statistics-overall-text">won deals</span>
        </div>
      </div>
    </div>
  </div>
</div>