@primary-color: rgb(38, 52, 117);
@secondary_color: rgba(38, 53, 117, 0.568);

.profile-image-wrapper {
  display: flex;
  position: relative;
}

.profile-open-tasks-box {
  // width: 100px;
  min-width: 0px;
  width: 70px;
  height: 70px;
  background: #3d7eb7;
  // border-radius: 10px;
  border-radius: 10px 0px 0px 10px;
  padding: 10px;
  // padding-right: 40px;  
  position: fixed;
  // left: 260px;
  right: 0;

  .profile-open-tasks {
    margin: 0;
    color: ghostwhite;
    font-size: 14px;
    white-space: normal;
    text-align: left;
    line-height: normal;
  }
}


div.profile-image {
  background-image: url("../../assets/profile-image.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  border-radius: 10px;
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  position: absolute;
}

div.profile-image-holder {
  width: 200px;
  height: 200px;
  margin-bottom: 30px;
  position: relative;
}

.profile-title-block {
  display: flex;

  .profile-name {
    font-size: 24px;
    color: @primary-color;
    margin: 0;
    padding: 8px;
  }

  .green-icon {
    color: #8bc34a;
  }

  .profile-position {
    font-size: 16px;
    color: @secondary_color;
    margin: 0;
    padding: 8px;
  }
}

.profile-info {
  padding: 12px;

  &__line {
    position: absolute;

    &-path {
      stroke: #3f51b5;
      stroke-width: 20px;
      fill: none;
    }

    &-container {
      height: 40px;
      width: 110px;
      position: relative;
      overflow: hidden;
    //   box-shadow: inset 0 3px 5px -1px rgba(0, 0, 0, 0.05), inset 0 6px 10px 0 rgba(0, 0, 0, 0.05), inset 0 1px 18px 0 rgba(0, 0, 0, 0.05);
    }
  }

  &-first-row {
    display: flex;
    margin-bottom: 14px;
  }

  &-block {
    margin-right: 10px;
    padding: 4px;
    font-size: 24px;
    font-weight: bold;

  }

  &-text {
    color: @secondary_color;
    font-size: 18px;
    margin-left: 6px;
  }

  &-statistics {
    position: relative;
    overflow: hidden;

    &-title {
      text-transform: uppercase;
      font-weight: bold;
      position: absolute;
    }

    &-content {
      padding: 4px;
      padding-top: 30px;
      display: flex;
      color: @secondary_color;
    }

    &-hours {
      position: relative;

      &-item {
        &-container {
          display: flex;
          flex-direction: column;
          position: absolute;
          left: calc(50% - 26px);
          bottom: 8px;
          align-items: center;
        }
      }


      .hours {
        display: flex;
        flex-direction: row;
        font-size: 30px;

        &-text {
            margin-top: 26px;
        }

        &-container {
          display: flex;
          flex-direction: row;
          align-items: flex-end;
        }
      }
    }

    &-overall {
      display: flex;
      flex-direction: column;

      &-block {
        display: block;

      }

      &-number {
        &::after {
          margin-left: 20px;
          content: '·';
          font-size: 40px;
          line-height: 10px;
          color: green;
        }
      }
    }
  }
}

.table-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 250px;
}

.digits {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
}

.digit {
  &-wrapper {
    position: relative;
    overflow: hidden;
    height: 28px;
    width: 14px;
    &_wider {
        height: 29px;
        width: 17px;
    }
  }

  &-container {
    position: absolute;
  }
}

.progress-ring__circle {
  transition: 0.35s stroke-dashoffset;
  transform: rotate(135deg);
  transform-origin: 50% 50%;
  stroke-dasharray: 326.726, 326.726;
  stroke-dashoffset: 180;
}
